<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanScope" class="com.hnayyc.coffee.spring.scope.BeanScope" scope="singleton" />

    <bean id="moocApplicationContext" class="com.hnayyc.coffee.spring.aware.MoocApplicationContext"/>

    <bean id="moocBeanName" class="com.hnayyc.coffee.spring.aware.MoocBeanName"/>
</beans>