<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="defaultInit" default-destroy-method="defaultDestroy">

    <bean id="beanScope" class="com.hnayyc.coffee.spring.scope.BeanScope" scope="singleton" />

    <bean id="beanInit" class="com.hnayyc.coffee.spring.lifecycle.BeanLifeCycle" init-method="init" destroy-method="destroy"/>

    <bean id="beanInitImpl" class="com.hnayyc.coffee.spring.lifecycle.BeanLifeCycleImpl" />
</beans>